# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
__pycache__/
